html {
    height: 100%;
}


body {
    background: linear-gradient(116.82deg, #ff94e7 0%, #96e8ff 100%);
}

h1 {
    text-align: center;
    color: white;
    font-size: 72px;
    font-weight: 700;
    /* text-transform: uppercase; */
}

.btn {
    color: gray;
    background-color: white;
    border: none;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    margin: 25px 10px;
    font-weight: bold;
}

.btn:hover {
    background-color: #ff4690;
    border: 2px solid white;
}

@media (max-width: 1148px) {
    h1 {
        font-size: 50px;
    }

    .btn {
        width: 150px;
        height: 40px;
    }
}

@media (max-width: 795px) {
    h1 {
        font-size: 40px;
    }
}

#successMessage {
    display: none;
}

#successMessage h1 {
    font-size: 50px;
}

/* Animate Text */
.ml6 {
    position: relative;
}

.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml6 .letter {
    display: inline-block;
    line-height: 1em;
}

/* Footer */
footer {
    color: #fff;
}

footer a {
    color: white;
    text-decoration: none;
}

/* normal */
.heart180 {
    position: absolute;
    top: -10px;
    font-size: 48px;
    animation: fall180 linear infinite;
}

@keyframes fall180 {
    to {
        transform: translateY(100vh) rotate(180deg);
        opacity: 0;
    }
}

.heart360 {
    position: absolute;
    top: -10px;
    font-size: 48px;
    animation: fall360 linear infinite;
}

@keyframes fall360 {
    to {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

.heart720 {
    position: absolute;
    top: -10px;
    font-size: 48px;
    animation: fall720 linear infinite;
}

@keyframes fall720 {
    to {
        transform: translateY(100vh) rotate(720deg);
        opacity: 0;
    }
}

/* reverser */
.heartReverse180 {
    position: absolute;
    top: -10px;
    font-size: 48px;
    animation: fallReverse180 linear infinite;
}


@keyframes fallReverse180 {
    to {
        transform: translateY(100vh) rotate(-180deg);
        opacity: 0;
    }
}

.heartReverse360 {
    position: absolute;
    top: -10px;
    font-size: 48px;
    animation: fallReverse360 linear infinite;
}


@keyframes fallReverse360 {
    to {
        transform: translateY(100vh) rotate(-360deg);
        opacity: 0;
    }
}


.heartReverse720 {
    position: absolute;
    top: -10px;
    font-size: 48px;
    animation: fallReverse720 linear infinite;
}


@keyframes fallReverse720 {
    to {
        transform: translateY(100vh) rotate(-720deg);
        opacity: 0;
    }
}